<h1>Update Car</h1>
<form [formGroup]="formUpdate">
  <p>
    <label for="brand">Brand</label>
    <input name="brand" type="text" id="brand" formControlName="brand">
  </p>
  <p>
    <label for="model">Model</label>
    <input name="model" type="text" id="model" formControlName="model">
  </p>
  <p>
    <label for="weight">Weight</label>
    <input name="weight" type="text" id="weight" formControlName="weight">
  </p>
  <p>
    <label for="isAvailable">Availability</label>
    <input name="isAvailable" type="checkbox" id="isAvailable" formControlName="isAvailable">
  </p>
  <p>
    <a class="button button-to-save" (click)="saveCar()">Save car</a>
  </p>
  <p>
    <a class="button button-to-home" (click)="cancel()">Cancel</a>
  </p>
  <p>
    <a class="button button-to-delete" (click)="deleteCar()">Delete</a>
  </p>
</form>
